<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color:#875A7B;">My First Module</h2>
      <h3 class="oe_slogan"><[A short summary]></h3>
      <p class="oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">This module allows you to <[...]>

      </p>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <div class="oe_span6">
        <div class="alert alert-info oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
          <i class="fa fa-hand-o-right"></i><b> Key features: </b>
          <ul class="list-unstyled">

            <li>
            <i class="fa fa-check-square-o text-primary"></i>
              <[FEATURE 1]>
            </li>

            <li>
            <i class="fa fa-check-square-o text-primary"></i>
              <[FEATURE 2]>
            </li>

          </ul>
        </div>
    </div>
    <div class="oe_span6">

        <div class="alert alert-success oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
          <i class="fa fa-pencil"></i><b> Typical Use Case: </b><br/>
          <[DESCRIBE THE TICPICAL USE CASE]>
        </div>

    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_mt32">
            <[IMAGE CAPTION TEXT]>
            </p>
        </div>
        <div class="oe_row_img oe_centered">
             <img class="oe_demo oe_picture oe_screenshot" src="IMAGE.png"/>
         </div>
    </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color:#875A7B;">Configuration</h2>
      <p class="oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
        <[To configure go to Settings &rarr; Users section, open user edit form and move to "Point of Sale" tab.]>
      </p>
    </div>
  </div>
</section>


<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">

    <div class="alert alert-success oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
      <[YOUR GREEN TEXT HERE]>
    </div>

    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">

    <div class="alert alert-warning oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
      <[YOUR WARNING/YELLOW TEXT HERE]>
    </div>

    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">

    <div class="alert alert-danger oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
      <[YOUR DANGER/RED TEXT HERE]>
    </div>

    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Support & Maintenance</h2>
    <!-- <h3 class="oe_slogan">This module is fully covered by our standard support and maintenance offer.</h3> -->
    <h3 class="oe_slogan">Support and maintenance for this module can be agreed upon on a case by case or regular basis.</h3>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12" style="padding:0.3em 0.6em; font-size: 150%;">
      <h2 class="oe_slogan" style="color:#875A7B;">Need help?</h2>
      <p class="oe_mt32">
        Contact us at our <a href="mailto:info@xoe.solutions">email address</a> or fill out our <a href="https://xoe.solutions/page/website.contactus " target="_blank">request form</a>
      </p>
      <ul>
        <li><i class="fa fa-envelope-o"></i> <a href="mailto:info@xoe.solutions">info@xoe.solutions</a></li>
        <li><i class="fa fa-list-alt"></i> <a href="https://xoe.solutions/page/website.contactus " target="_blank">https://xoe.solutions/page/website.contactus</a></li>
      </ul>
    </div>
  </div>
</section>
